# Tailscale
TAILSCALE_IP=100.x.x.x
TS_HOSTNAME=mymachine.tail1234.ts.net

# Backend
BACKEND_PORT=6942
JWT_SECRET=change-me-in-production

# Database
SEED_USERNAME=admin
SEED_PASSWORD=change-me

# Watchtower
# currently set to 5 mins (5 * 60)
WATCHTOWER_POLL_INTERVAL=300
WATCHTOWER_CLEANUP=true

WATCHTOWER_NOTIFICATIONS_HOSTNAME="invoice-server"
WATCHTOWER_NOTIFICATIONS_LEVEL=info

WATCHTOWER_NOTIFICATIONS=email
WATCHTOWER_NOTIFICATION_EMAIL_FROM=your-email@gmail.com
WATCHTOWER_NOTIFICATION_EMAIL_TO=your-email@gmail.com
WATCHTOWER_NOTIFICATION_EMAIL_SERVER=smtp.gmail.com
WATCHTOWER_NOTIFICATION_EMAIL_SERVER_PORT=587
WATCHTOWER_NOTIFICATION_EMAIL_SERVER_USER=your-email@gmail.com
WATCHTOWER_NOTIFICATION_EMAIL_SERVER_PASSWORD="your-password"

# Sentry
PYTHON_SENTRY_DSN="https://your_public_key@o0.ingest.sentry.io/your_project_id"
# This is only necessary for the dev docker container build
VITE_SENTRY_DSN="https://your_public_key@o0.ingest.sentry.io/your_project_id"
