.DS_Store

# Backend
.venv/
backend/build/
backend/uninstall.txt
backend/*.egg-info/
backend/venv/
backend/.venv/
backend/cache/
backend/temp/
backend/data/
backend/.env
.env

# Python cache
__pycache__/
**/__pycache__/
*.py[cod]